%head
    %title << {{config['name']}}

    %meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    %meta charset="utf-8"

    %link rel='stylesheet/less' type='text/css' href='/index.less'
    %script src='/less.js'

    %script src="/haml.js"

    %link rel="stylesheet" href="/the-graph-dark.css"
    %script src="/the-graph_vendor.js"
    %script src="/the-graph.js"

    %link rel="stylesheet" href="/noty.css"
    %link rel="stylesheet" href="/noty_sunset.css"
    %script src="/noty.min.js"

    %link rel="stylesheet" href="/sweetalert2.css"
    %script src="/sweetalert2.min.js"

    %script
        var config = {'ws_port': {{config['ws_port_client']}}}

    %script src="/index.js"

    %link rel="stylesheet" href="/fonts/font-awesome.min.css"
    %style
        @font-face {
            font-family: 'FontAwesomeSVG';
            src: url('/fonts/fontawesome-webfont.svg') format('svg'),
                url('/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
                url('/fonts/fontawesome-webfont.woff') format('woff'),
                url('/fonts/fontawesome-webfont.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
%body
    %div#tabs
        %div.tab#dashboard_tab
            Dashboard
        %div.tab#lights_tab
            Lights
        %div.tab#globals_tab
            Globals
        %div.tab#effects_tab
            Effects
        {#%div.tab#server_tab
            Server#}
    %div#content
    %div#lock.active
