@grey: #fff;
@bg: #262A32;

body {
    margin: 0px;
    height: 100vh;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    background-color: @bg;
    color: #fff;
}

pre {
    font-size: 70%;
    text-align: left;
    overflow: auto;
    margin: 0px;
}

#lock {
    opacity: 0;
    background-color: #0009;
    padding-bottom: 100vh;
    padding-right: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none;
    z-index: -1;
    transition: opacity .5s;
}

#lock.active {
    opacity: 1;
    pointer-events: all;
    z-index: 9001; // OVER 9000
}

.the-graph-dark .the-graph-app {
    background-color: @bg !important;
}

.hidden {
    display: none;
}

#tabs {
    display: flex;
    margin-bottom: 30px;
}

#tabs > div {
    width: 100%;
    text-align: center;
    border-right: 1px @grey solid;
    margin: 10px 5px;
    cursor: pointer;
}

#tabs > div:last-child {
    border-right: none;
}

#tabs > div.active {
    font-weight: bold;
    pointer-events: none;
    cursor: auto;
}

#content {
    margin: 3px;
}

.container, .subcontainer {
    border-left: 2px solid @grey;
    padding-left: 5px;
}

.container > h1 {
    margin: 15px 0px 10px 0px;
}

.subcontainer > h1 {
    font-size: 1.5em;
    margin: 5px 0px;
    font-weight: normal;
}

#editor {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

#nav {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#buttons {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

input, select, button {
    border-radius: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #88f;
}

// select {
//     -moz-appearance: none;
//     text-indent: 0.01px;
//     text-overflow: "";
// }

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 9px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(13, 13, 13, 0.03);
    background: @grey;
    border-radius: 11.5px;
    border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: @grey;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: @grey;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(13, 13, 13, 0.03);
    background: @grey;
    border-radius: 11.5px;
    border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: @grey;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #f2f2f2;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 23px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(13, 13, 13, 0.03);
}
input[type=range]::-ms-fill-upper {
    background: @grey;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 23px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(13, 13, 13, 0.03);
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: @grey;
    cursor: pointer;
    height: 2px;
}
input[type=range]:focus::-ms-fill-lower {
    background: @grey;
}
input[type=range]:focus::-ms-fill-upper {
    background: @grey;
}
